<header>
    <nav class="navbar">
        <a href="" class="navbar-logo">
            <img src="../../../assets/images/Movies.png" alt="Logo">
        </a>
        <!-- Search -->
        <!-- <div class="grid">
            <div class="col-12 md:col-6 lg:col-4">
                <span class="p-input-icon-left">
                    <input type="text" pInputText placeholder="Search" [(ngModel)]="searchValue" (keyup)="searchKeyUp()" />
                    <i class="pi pi-search"></i>
                </span>
            </div>
        </div> -->
        <ul class="navbar-links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/movies">Movies</a></li>
            <li><a routerLink="/tvshows">Tv Shows</a></li>
            <li><a routerLink="/genres">Genres</a></li>
        </ul>
    </nav>



    <!-- <div class="navbar-search">
        <input type="text" placeholder="Search">
        <button type="submit">Search</button>
    </div> -->
</header>