$white: #fff;
//
////black
// $bgColor: #141414;
// $bgColorLighter: #212121;
// $lightGray: #999;
//
////blue
$lightGray:#91c3fd;
$bgColor: #071426;
$bgColorLighter: #0b264c;
//
////red
// $lightGray:#916262;
// $bgColor: #260720;
// $bgColorLighter: #4c0b34;